<div class="section">
            <div id="test4" class="container-fluid Demo4">
                <div class="row" style="background-color:#f4f4f4">
                    <div class="col-md-12">
                        <table style="width:300px;margin-top:100px;margin-bottom:100px;" class="center-block text-center">
                            <tr>
                                <td colspan="3">
                                    <h1>
                                        关于我们
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-user text-center" aria-hidden="true" style="color:rgb(255, 81, 0);font-size:20px;"></span>
                                </td>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-center">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                                </td>
                            </tr>
                        </table>




                    </div>
                </div>
                <div class="row" style="background-color:#0d0e11;padding-top:40px;padding-bottom:20px;color:#A9A9A9;">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        <h3>关于我们</h3>
                        <span style="font-size:12px;">
                            応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥。
                        </span>
                    </div>
                    <div class="col-md-2">
                        <h3>新品发布</h3>
                        <span style="font-size:12px;">
                            Created especially for you
                            October 1, 2
                            Awesome theme with endless possibilities. August 28, 2013
                        </span>
                    </div>
                    <div class="col-md-2">
                        <h3>关于我们</h3>
                        <span style="font-size:12px;">
                            応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥。
                        </span>
                    </div>
                    <div class="col-md-2">
                        <h3>关于我们</h3>
                        <span style="font-size:12px;">
                            応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥。
                        </span>
                    </div>
                    <div class="col-md-2">

                    </div>


                </div>
                <div class="row" style="background-color:#0d0e11;padding-top:45px;padding-bottom:45px;color:#A9A9A9;">
                    <div class="col-md-12 text-center">
                        <span>版权所有 2017   地址：苏州市工业园区大道金鸡湖大道99号     苏ICP备1230012300号</span>
                    </div>
                </div>
            </div>
        </div>
