{% load static %}
<div class="Demo0" style="background-image:url('{% static 'Images/CompanyFiles/Text/FCJ/Login/bg1.jpg' %}')  " >
            <div class="Center">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <div style="font-size:180px;font-family:宋体;">Hellow Word</div>
                            <h4>欢迎！</h4>
                            <a class="btn btn-circle page-scroll" href="#test1" role="button">
                                <div class="heartbeat">
                                    <span class="glyphicon glyphicon-menu-down" style="display:block;margin-top:5px;"></span>
                                    <span class="glyphicon glyphicon-menu-down" style="display:block;margin-top:-11px;"></span>
                                    <span class="glyphicon glyphicon-menu-down" style="display:block;margin-top:-11px;"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div id="test1" class="container-fluid Demo1">
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:300px;margin-top:100px;margin-bottom:100px;" class="center-block text-center">
                            <tr>
                                <td colspan="3">
                                    <h1>
                                        公司介绍
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-user text-center" aria-hidden="true" style="color:rgb(255, 81, 0);font-size:20px;"></span>
                                </td>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-center">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                                </td>
                            </tr>
                        </table>




                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="VivaTimeline">
                                        <dl>
                                            <dt>2016 3月</dt>
                                            <dd class="pos-left clearfix">
                                                <div class="circ"></div>
                                                <div class="time">Feb 03</div>
                                                <div class="events">
                                                    <div class="events-header">Event Heading</div>
                                                    <div class="events-body">
                                                        <div class="row">
                                                            <div class="col-md-6 pull-left">

                                                                <img class="events-object img-responsive img-rounded" src="{% static 'Images/CompanyFiles/Text/FCJ/Introduce/cat01.png' %}" />
                                                            </div>
                                                            <div class="events-desc">
                                                                ......
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 pull-left">
                                                                <img class="events-object img-responsive img-rounded" src="{% static 'Images/CompanyFiles/Text/FCJ/Introduce/cat01.png' %}" />
                                                            </div>
                                                            <div class="events-desc">
                                                                ......
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="events-footer">
                                                        ...
                                                    </div>
                                                </div>
                                            </dd>
                                            <!-- 其它时间节点 -->
                                            <dt>Jan 2016</dt>
                                            <dd class="pos-right clearfix">
                                                <div class="circ"></div>
                                                <div class="time">Feb 03</div>
                                                <div class="events">
                                                    <div class="events-header">Event Heading</div>
                                                    <div class="events-body">
                                                        <div class="row">
                                                            <div class="col-md-6 pull-left">
                                                                <img class="events-object img-responsive img-rounded" src="{% static 'Images/CompanyFiles/Text/FCJ/Introduce/cat01.png' %}" />
                                                            </div>
                                                            <div class="events-desc">
                                                                ......
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 pull-left">
                                                                <img class="events-object img-responsive img-rounded" src="{% static 'Images/CompanyFiles/Text/FCJ/Introduce/cat01.png' %}" />
                                                            </div>
                                                            <div class="events-desc">
                                                                ......
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="events-footer">
                                                        ...
                                                    </div>
                                                </div>
                                            </dd>
                                            <dt>Dec 2015</dt>
                                            <dt>Oct 2015</dt>
                                            <dt>Sep 2015</dt>
                                            <dt>Aug 2015</dt>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="section">
            <div id="test2" class="container-fluid Demo2">
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:300px;margin-top:100px;margin-bottom:100px;" class="center-block text-center">
                            <tr>
                                <td colspan="3">
                                    <h1>
                                        产品介绍
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-user text-center" aria-hidden="true" style="color:rgb(255, 81, 0);font-size:20px;"></span>
                                </td>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-center">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                                </td>
                            </tr>
                        </table>




                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div id="masonry" class="container-fluid">
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/1.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/2.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/3.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/4.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/5.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/6.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/7.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/8.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/9.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/10.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/11.jpg' %}"></div>
                            <div class="box"><img src="{% static 'Images/CompanyFiles/Text/FCJ/Product/12.jpg' %}"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

            </div>
        </div>
        <div class="section">
            <div id="test3" class="container-fluid Demo3">
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:300px;margin-top:100px;margin-bottom:100px;" class="center-block text-center">
                            <tr>
                                <td colspan="3">
                                    <h1>
                                        团队介绍
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-user text-center" aria-hidden="true" style="color:rgb(255, 81, 0);font-size:20px;"></span>
                                </td>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-center">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                                </td>
                            </tr>
                        </table>




                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="left">
                            <div style="overflow: hidden;">

                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/1.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="left">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/2.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">1</p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="right">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/3.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">
                                软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品

                            </p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="right">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/1.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">
                                软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品

                            </p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="left">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/1.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="left">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/1.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">1</p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="right">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/1.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">
                                软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品

                            </p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="center-block shadow" name="right">
                            <div style="overflow: hidden;">
                                <img src="{% static 'Images/CompanyFiles/Text/FCJ/Team/1.jpg' %}" class="img-thumbnail center-block">
                            </div>
                            <p class="text-left title">
                                软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品

                            </p>
                            <div class="text-right info"><input class="btn btn-default" type="button" value="详情"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>

                </div>
            </div>
        </div>
        <div class="section">
            <div id="test4" class="container-fluid Demo4">
                <div class="row" style="background-color:#f4f4f4">
                    <div class="col-md-12">
                        <table style="width:300px;margin-top:100px;margin-bottom:100px;" class="center-block text-center">
                            <tr>
                                <td colspan="3">
                                    <h1>
                                        关于我们
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-user text-center" aria-hidden="true" style="color:rgb(255, 81, 0);font-size:20px;"></span>
                                </td>
                                <td>
                                    <hr align=center width=100 color=#987cb9 SIZE=1 />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="text-center">软件公司 & 互联网行业 ID:6322在企业级产品技术研发具有十多年的经验,曾开发多款百万级企业产品</p>
                                </td>
                            </tr>
                        </table>




                    </div>
                </div>
                <div class="row" style="background-color:#0d0e11;padding-top:40px;padding-bottom:20px;color:#A9A9A9;">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">
                        <h3>关于我们</h3>
                        <span style="font-size:12px;">
                            応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥。
                        </span>
                    </div>
                    <div class="col-md-2">
                        <h3>新品发布</h3>
                        <span style="font-size:12px;">
                            Created especially for you
                            October 1, 2
                            Awesome theme with endless possibilities. August 28, 2013
                        </span>
                    </div>
                    <div class="col-md-2">
                        <h3>关于我们</h3>
                        <span style="font-size:12px;">
                            応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥。
                        </span>
                    </div>
                    <div class="col-md-2">
                        <h3>关于我们</h3>
                        <span style="font-size:12px;">
                            応损捠捡换攳，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧！圩圪囡団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥咍咎，咐咑厺厼厽桻桼忝忞帄帇帉帊峢団囤囥。
                        </span>
                    </div>
                    <div class="col-md-2">

                    </div>


                </div>
                <div class="row" style="background-color:#0d0e11;padding-top:45px;padding-bottom:45px;color:#A9A9A9;">
                    <div class="col-md-12 text-center">
                        <span>版权所有 2017   地址：苏州市工业园区大道金鸡湖大道99号     苏ICP备1230012300号</span>
                    </div>
                </div>
            </div>
        </div>
