<nav class="navbar navbar-default navbar-fixed-top navbar-fcj" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ">
                <div class="navbar-brand"><span class="label label-danger" style="margin-left:200px;">Logo</span></div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-static " style="margin-right:200px;" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li><a class="page-scroll" style="font-size:18px;font-weight:500;color:white" href="#test1">公司介绍</a></li>
                    <li><a class="page-scroll" style="font-size:18px;font-weight:500;color:white" href="#test2">产品介绍</a></li>
                    <li><a class="page-scroll" style="font-size:18px;font-weight:500;color:white" href="#test3">团队介绍</a></li>
                    <li><a class="page-scroll" style="font-size:18px;font-weight:500;color:white" href="#test4">关于我们</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div>
    </nav>
